@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	width: 100%;
}

header{
	height: 60px;
	background-color: #3D0C20;
}

header>div{
	color: #FFFFFF;
	display: flex;
	justify-content: flex-end;
	text-align: center;
	margin-right: 50px;
	font-family: Avenir light, Raleway;
}
.box_cv{
	margin: 2% 7%;
	display:flex;
	justify-content: center;
	align-content: center;
}
.box_cv>h1{
	color: #8E205C;
	font-size: 500%;
	font-style: bolder;
	padding-top: 10px;
	text-align: center;
}
.home_01{
	margin: 2% 7%;
	display:flex;
	flex-direction: row;
}
.home_01>div{
	color: #8E205C;
	line-height: 0px;
}
.home_01>div>h2{
	font-size: 600%;
	font-style: bolder;
	line-height: 0px;
	padding-top: 80px;
}
.home_01>div>p{
	font-size: 200%;
	font-style: normal;
}
.img_yo{
	width: 60%;
	height: auto;
}
.img_01{
	width: auto;
	display: flex;
	justify-content: flex-end;
}
.button_conoce_mas{
	display: flex;
	justify-content: flex-end;
}
input[type=submit],button[type=button]{
	background-color: #000000;
	color: #FFFFFF;
	width: 350px;
	height: 45px;
	font-family: Avenir, Raleway;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	text-align:center;
}
.info{
	margin: 2% 7%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 20px;
}
.info>div>h2{
	color:#8E205C;
	font-size: 200%;
	font-style: bolder;	
}
.info>div>p{
	font-size: 130%;
	line-height: 40px;
}
a:link{ 
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bolder;
}
a:visited{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bolder;
}
a:active{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bolder;
}
a:hover{
	color:#F9D1E4;
	font-weight:bolder;
	text-decoration: none;
}


footer{
	width: 100%;
	background-color: #3D0C20;
	height: auto;
	color:#FFFFFF;
}
.box_footer{
	display: flex;
	flex-direction: column;
	line-height: 0px;
	align-items: center;
}
@media (max-width:360px){
	body{
		width: 100%;
		margin: 2%;
	}
	.box_cv{
	margin: 2% 7%;
	display:flex;
	justify-content: center;
	align-content: center;
}
.box_cv>h1{
	color: #8E205C;
	font-size: 300%;
	font-style: bolder;
	padding-top: 10px;
	text-align: center;
}
	.home_01>div{
	color: #8E205C;
}
.home_01>div>h2{
	font-size: 400%;
	font-style: bolder;
	padding-top: 20px;
}
.home_01>div>p{
	font-size: 150%;
	font-style: normal;
	line-height: 0px;
}
.img_01{
	display:none; 
}
	input[type=submit],button[type=button]{
	width: 200px;
	height: 35px;
}
	.info>div>h2{
		line-height: 60px;
	}
	
}

